body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: rgb(155, 69, 8);
}
nav >ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.btn-primary{
    border-radius: 5px;
    background: rgb(179, 83, 49);
    border: none;
    color: white;
    background-color: chocolate;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background: rgb(220, 189, 176);
    background-image: url('../header_bg.png'),url('../developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-contact{
    border-radius: 5px;
    background: rgb(179, 83, 49);
    border: none;
    color: chocolate;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-left: 10px;
}
.header-img{
    width: 500px;
}
.banner-content{
max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: rgb(73, 70, 70);
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{

}
main{
  max-width: 1140px; 
  margin: 0 auto; 
}
main section{
    margin-top: 120px;
}
.section-title{
    color: rgb(40, 38, 38);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: rgb(201, 201, 222);
    margin: 130px 150px;
}
.section-description{
    color: rgb(85, 76, 76);
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    /* align-items: center;
    justify-content: space-around; */
}
.skill-description{
   color: rgb(20, 20, 20);
}
.skill{
   padding: 30px;
   border-radius: 5px;
   background: rgb(73, 73, 95);
   box-shadow: 0px 6px 50px 0px rgba(17, 16, 16,0.06);
}
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
display: flex;
gap: 35px;
margin: 15px 40px 15px 40px;
}
.resume-item-description, .resume-item-institute{
    color: #757575;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.download-cv{
    text-align: center;
    margin-top: 30px;
    
}

